<div class='tags'>
  <%
    _.each(data, function(dato, index) {

      var mKey = dato.realKey + '_' + index;
      var color;
      if(typeof colors === 'function'){
        color = colors(dato);
      }else{
        color = colors[index];
      }

      var cssClass;
      if(typeof classes === 'function'){
        cssClass = classes(dato);
      }else if(classes && classes.constructor instanceof Array){
        cssClass = classes[index];
      }

      // Styles to legend
      var styleLegend = 'background-color:' + color + ';border: 2px solid ' + color;
      if (dato.type === 'line-dash') {
        styleLegend = 'background-color: transparent;border: 2px dotted ' + color;
      }
  %>

    <div class='btnLegend <%= disabledList[mKey] || disabledList[dato.realKey] ? 'inactive': '' %>' 
         id="<%=dato.realKey%>"
         tag='<%=index%>'
         style="color:<%= color %>">
      <span class="icon circle <%= cssClass %>" style="<%= styleLegend %>"></span>
      <span class="text first"><%= dato.key ? __(dato.key) : '' %></span>

      <%
        var aggInfo = false;
        if(aggregationInfo && aggregationInfo.length) {
          aggInfo = aggregationInfo[index][mKey];
        } else if(aggregationInfo && aggregationInfo[mKey]) {
          aggInfo = aggregationInfo[mKey];
        } else if(aggregationInfo && aggregationInfo[dato.realKey]) {
          aggInfo = aggregationInfo[dato.realKey];
          mKey = dato.realKey;
        }

      if (aggInfo) { 
      %>
      <a class="popup_widget agg multivarChart <%= disabledList[mKey] ? 'hidden': '' %>" href="#">
        <span class="icon"><img class="iconSelected" src="<%=App.getPictureAgg(aggInfo.current)%>"/></span>
        <div class="varsel">
          <ul data-id="<%=dato.realKey%>">
            <% _.each(aggInfo.available, function(v) { %>
              <li data-agg="<%=v%>" class="<%=v == aggInfo.current.toUpperCase() ? 'selected':''%>">
                <span class="icon">
                  <img class="iconPopup" src="<%=App.getPictureAgg(v)%>"/>
                </span>
                <span class="text last"><%=App.getAggStr(v)%></span>
              </li>
            <%})%>
          </ul>
        </div>
      </a>
      <% } %>

    </div>
  <% }) %>
</div>
