<% var maxElements = 6; %>
<div class="popup_stackbar popup_fixed">
  <% if (data.value) { %>
    <h3>
      <%= utils.xAxisFunction
        ? utils.xAxisFunction(data.value, true)
        : data.value 
      %>
    </h3>
  <% } %>
  <% for (i = 0; i < maxElements; i++) {
      var item = data.series[i] || null;
      
      if (item) {
        // Styles to legend
        var styleLegend = 'background-color:' + data.series[i].color + ';border-color: ' + data.series[i].color;
        if (data.series[i].type === 'line-dash' || data.series[i].classed === 'dashed') {
          styleLegend = 'background-color: transparent;border: 2px dotted ' + data.series[i].color;
        }
    %>
    <div class="element">
      <% if (data.series[i].color) { %>
        <div class="icon circle color <%= data.series[i].cssClass %>" 
             style="<%= styleLegend %>"></div>
      <% } %>
      <span class="value">
        <% if (data.series[i].yAxisFunction) { %>
          <%= data.series[i].yAxisFunction(data.series[i].value) %>
        <% } else if (utils.yAxisFunction) { %>
          <%= utils.yAxisFunction(data.series[i].value) %>
        <% } else { %>
          <%= App.nbf(data.series[i].value) %>
          <%= (data.series[i].realKey && App.mv().getVariable(data.series[i].realKey)) 
            ? App.mv().getVariable(data.series[i].realKey).get('units') 
            : '' %>
        <% } %>
      </span>
      <% if (utils.total) { %>
      <span class="value_extra">(<%= App.nbf(data.series[i].value / utils.total * 100) %>%)</span>
      <% } %>
      <span class="key">
        <%= data.series[i].key ? __(data.series[i].key) : '' %>
      </span>
    </div>
    <% } %>
  <% } %>
  <!-- More elements -->
  <% if (data.series.length > maxElements) { %>
    <span class="more"> <%= data.series.length - maxElements + ' ' +  __('elementos más') %></span>
  <% } %>
</div>
