// Copyright 2017 Telefónica Digital España S.L.
// 
// This file is part of UrboCore WWW.
// 
// UrboCore WWW is free software: you can redistribute it and/or
// modify it under the terms of the GNU Affero General Public License as
// published by the Free Software Foundation, either version 3 of the
// License, or (at your option) any later version.
// 
// UrboCore WWW is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
// General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with UrboCore WWW. If not, see http://www.gnu.org/licenses/.
// 
// For those usages not covered by this license please contact with
// iot_support at tid dot es

.widget {
  .pieChart_content {

    .chart {
  		padding:0;
      height:295px;
      position: absolute;
      top:18px;
      left:0;

      .nv-slice {
        path {
          pointer-events: all;
        }
        &:hover path {
          // opacity:0.5;
        }
      }

      & + .var_list {
        top: 0;
      }
  	}
  }
  .extra_info {
    color:@lightgrey;
    font-size:12px;
    position: absolute;
    bottom: 10px;
    .icon.circle {
      width:12px;
      height:12px;
      vertical-align:middle;
      &.good{
        color: @okColor;
      }
      &.regular{
        color: @warningColor;
      }
      &.bad{
        color: @errorColor;
      }
    }
    .text_icon {
      padding-left:4px;
    }
  }
  .icon_container {
    position:absolute;
    top:155px;
    left:158px;
    img {
      width:45px;
      opacity:0.5;
    }
  }

  svg image {
    opacity: .5;
  }
}
//Tooltip de las secciones del pieChart
.containersTooltip {
  padding:10px;
  background-color:@blue;
  color:@greyLighter;
  .tooltip.icon.circle {
    width:10px;
    height:10px;
    margin-top:4px;
    vertical-align:top;
  }
  .text {
    padding-left:5px;
  }
}
