Map{
  -torque-frame-count:10;
  -torque-animation-duration:1;
  -torque-time-attribute:"t";
  -torque-aggregation-function:"CDB_Math_Mode(torque_category)";
  -torque-resolution:1;
  -torque-data-aggregation:linear;
}
#alert{
  comp-op:xor;
  marker-fill-opacity:0.9;
  marker-line-color:#FFF;
  marker-line-width:0;
  marker-line-opacity:1;
  marker-type:ellipse;
  marker-width:9;
  marker-fill:#00ff00;
}
#alert[value=2]{
  marker-fill:#ff3300;
}
#alert[value=1]{
  marker-fill:#ff9900;
}
#alert[frame-offset=1]{
  marker-width:14;
  marker-fill-opacity:0.20;
}
#alert[frame-offset=2]{
  marker-width:16;
  marker-fill-opacity:0.18;
}
#alert[frame-offset=3]{
  marker-width:18;
  marker-fill-opacity:0.17;
}
#alert[frame-offset=4]{
  marker-width:20;
  marker-fill-opacity:0.15;
}
#alert[frame-offset=5]{
  marker-width:22;
  marker-fill-opacity:0.13;
}
#alert[frame-offset=6]{
  marker-width:24;
  marker-fill-opacity:0.11;
}
#alert[frame-offset=7]{
  marker-width:26;
  marker-fill-opacity:0.09;
}
#alert[frame-offset=8]{
  marker-width:28;
  marker-fill-opacity:0.07;
}
#alert[frame-offset=9]{
  marker-width:28;
  marker-fill-opacity:0.05;
}
#alert[frame-offset=10]{
  marker-width:32;
  marker-fill-opacity:0.03;
}
