<div class="variableselector">
    <div class="wrapper">
      <% var selected = _.find(variables, function(variable) {
        return variable.byDefault;
      }) %>
      <span class="selected"><%= selected.name || __('Choose one') %></span>
  
      <div class="options">
        <% for(var variable of variables) { %>
          <span class="option" data-item-value="<%= variable.value %>" class="<%= variable.byDefault? 'choosen':'' %>"><%= variable.name %></span>
        <% } %>
      </div>
    </div>
</div>
