<div class="table <%=m.get('css_class')%>">
  <!-- Paginator -->
  <% if (m.get('paginator')) { %>
  <a class="popup_widget paginator" href="#">
    <span><%= m.get('itemsPerPageCurrent') %></span>
    <% if (m.get('itemsPerPageOptions')) { %>
    <div class="varsel">
      <ul>
        <% _.each(ippOptions, function(value, key) { %>
        <li data-ipp="<%= value %>"
            class="<% value === m.get('itemsPerPageCurrent') ? 'selected' : ''">
          <%= value %>
        </li>
        <% }) %>
      </ul>
    </div>
    <% } %>
  </a>
  <% } %>
  <!-- Download button CSV -->
  <% if ( m.get('csv') ) { %>
  <button class="button empty up">
    <%= __('Descargar CSV') %>
  </button>
  <% } %>
  <!-- Table -->
  <% if ( m.get('scrollTopBar') ){ %>
    <div id="top-scroll-bar">
      <div></div>
    </div>
  <% } %>
  <div class="<%= m.get('scrollTopBar') ? 'scrollable' : '' %>">
    <table>
        <tbody>
          <tr>
          <!--  Headers -->
          <%
            var formats = m.get('columns_format');
            _.each(formats,function(c, i) {
          %>
            <th class="<%= c.css_class %>">
              <%= (typeof c.title === 'function') ? c.title() : c.title %>
            </th>
          <% }) %>
          </tr>
          <!-- No data -->
          <% if (!elements.length) { %>
          <tr>
            <td class="noDataMsg" colspan="<%= Object.keys(formats).length %>">
              <span><%= __('No hay datos') %></span>
            </td>
          </tr>
          <% } %>
          <!-- Table data -->
          <% _.each(elements,function(el){ %>
          <tr>
            <% _.each(formats, function (c,i) {
              var tooltip =  c.tooltip? el[i] : '';
            %>
            <td <%= tooltip ? 'title="' + el[i] + '"':'' %>
                class="<%= typeof c.css_class === 'function' ? c.css_class(el) : c.css_class %>">
              <%= c.formatFN ? c.formatFN(el[i], el) : el[i] %>
            </td>
            <% }) %>
          </tr>
          <% }) %>
          <!-- End data -->
        </tbody>
      </table>
  </div>
  <!-- Legend -->
  <% if (m.get('legend')) { %>
  <%= m.get('legend') %>
  <% } %>
</div>
