<div class="table <%=m.get('css_class')%>">
  <!-- Top options -->
  <div class="top-options">
    <!-- Download button CSV -->
    <% if (m.get('csv') === true) { %>
    <button class="button empty csv">
      <%= __('Descargar CSV') %>
    </button>
    <% } %>
  </div>
  <!-- Scroll top table -->
  <% if (m.get('scrollTopBar') === true){ %>
  <div id="top-scroll-bar">
    <div></div>
  </div>
  <% } %>
  <div class="<%= m.get('scrollTopBar') ? 'scrollable' : '' %>">
    <!-- Table -->
    <table>
      <tbody>
        <tr>
        <!--  Headers -->
        <% _.each(m.get('columns_format'), function(c) { %>
          <th class="<%= c.css_class %>">
            <%= (typeof c.title === 'function') ? c.title() : c.title %>
          </th>
        <% }) %>
        </tr>
        <!-- Table content -->
      </tbody>
    </table>
  </div>
  <!-- bottom options -->
  <% if (m.get('paginator') === true) { %>
  <div class="bottom-options">
    <!-- Counter -->
    <span class="paginator-counter">
      <%= __('Página') %>
      <span class="current-page"></span>
      <%= __('de') %>
      <span class="total-pages"></span>
      &nbsp; / &nbsp;
      <%= __('Elementos totales:') %>
      <span class="total"></span>
    </span>
    <!-- Paginator -->
    <% if (m.get('paginator') === true) { %>
    <div class="paginator">
      <!-- selector número registros por página -->
      <div class="paginator-selector">
        <a class="popup_widget"
            href="#">
          <span><%= __('Tamaño de la página:') %></span>
          <span class="number">
            <%= m.get('itemsPerPageCurrent') === 'all' ? __('Todos') : m.get('itemsPerPageCurrent') %>
          </span>
          <% if (m.has('itemsPerPageOptions')) { %>
          <div class="varsel">
            <ul>
              <% _.each(m.get('itemsPerPageOptions'), function(value, key) { %>
              <li data-ipp="<%= value %>"
                  class="<%= value === m.get('itemsPerPageCurrent') ? 'selected' : '' %>">
                <%= value === 'all' ? __('Todos') : value %>
              </li>
              <% }) %>
            </ul>
          </div>
          <% } %>
        </a>
      </div>
      <!-- Navegación -->
      <div class="paginator-nav">
        <button class="button arrow init"> &#8249;&#8249; </button>
        <button class="button arrow prev"> &#8249; </button>
        <button class="button arrow next"> &#8250; </button>
        <button class="button arrow last"> &#8250;&#8250; </button>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
  <!-- Legend -->
  <% if (m.get('legend')) { %>
  <%= m.get('legend') %>
  <% } %>
</div>
