<div  class="split_vertical fill_height">
	<div class="top h50">
  </div>
	<div class="split_handler"></div>
	<div class="bottom h50">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 mb30">
          <h2 class="title_page"></h2>
          <a href="#" class="goToVertical linkRight"><%= __('Otros verticales') %></a>
        </div>
      </div>
    </div>
		<div class="container widgetContainer"></div>
	</div>
	<a class='co_fullscreen_toggle'><%= __('Pantalla completa') %></a>
</div>
