<div  class="split_vertical fill_height">
  <!-- Top -->
  <div class="top h50"></div>
  <!-- Split handler -->
  <div class="split_handler">
    <span class="arrow-up">
      <img src="/img/arrow-down.png">
    </span>
    <span class="arrow-down">
      <img src="/img/arrow-down.png">
    </span>
  </div>
  <!-- Bottom -->
  <div class="bottom h50">
    <div class="container">
      <div class="row mb30">
        <div class="col-sm-4 invisible" id="titledetail">
          <div id="title_selection">
            <span class="title_selection"></span>
            <span class="title_selection_id"></span>
          </div>
          <span id="backdetail"></span>
        </div>
        <div class="col-sm-4 mt12">
          <h2 class="title_page"></h2>
        </div>
        <div class="col-sm-4 textright mt10">
          <a href="#" class="goToVertical link"><%= __('Otros verticales') %></a>
        </div>
      </div>
    </div>
    <div class="container widgetContainer"></div>
  </div>
  <a class='co_fullscreen_toggle'><%= __('Pantalla completa') %></a>
</div>
