
  <a target="_blank" class="council" href="#">
    <div class='co_logos'>
      <img src="/img/<%= App.config.layout=='fiware' ? 'urbo-logo_negativo.svg' : 'urbo-logo_bicolorneg.svg' %>" alt="Urbo">
      <div class="sep"></div>
      <img class="companyLogo" src="/img/<%= logo%>" alt="Telefonica" />
    </div>
  </a>
  <div class="tool">
    <% if(App.auth != undefined && App.auth.getUser() != undefined && App.auth.getUser().superadmin) {%>
      <a class="admin" popup="admin" href="#"><%=__('Administración')%></a>
      <ul class="admin_popup genericPopup">
      	<li class="users">
          <%= __('Gestión de usuarios') %>
          <span class="icon">
            <img src="/img/SC_ic_usuario-nuevo_white.svg"/>
          </span>
        </li>
        <% if (App.config.connectorTools) { %>
          <li class="credentials">
            <%= __('Gestión de credenciales') %>
            <span class="icon">
              <img src="/img/SC_ic_usuario-nuevo_white.svg"/>
            </span>
          </li>
        <% } %>
        <li class="scopes">
          <%= __('Ámbitos') %>
          <span class="icon">
            <img src="/img/SC_ic_ambito-contador.svg" style="-webkit-filter: grayscale(100%) brightness(100); filter: grayscale(100%) brightness(100);"/>
          </span>
        </li>
        <li class="logs">
          <%= __('Registro de accesos') %>
          <span class="icon">
            <img src="/img/SC_ic_visitas-white.svg"/>
          </span>
        </li>
      </ul>
    <%}%>
    <% if (App.config.support_section) { %>
    <a class="support" href="#"><%=__('Support')%></a>
    <% } %>
    <a class="alerts" href="#" style="display:none"><%=__('Alertas')%></a>

    <a class="lang uppercase" popup="lang" href="#"><%=App.lang%></a>
    <ul class="lang_popup genericPopup">
      <li class="<%= App.lang == 'es' ? 'active': ''%>"><a href="/es">Español</a></li>
      <li class="<%= App.lang == 'en' ? 'active': ''%>"><a href="/en">English</a></li>
      <li class="<%= App.lang == 'it' ? 'active': ''%>"><a href="/it">Italiano</a></li>
      <li class="<%= App.lang == 'fr' ? 'active': ''%>"><a href="/fr">Francés</a></li>
    </ul>

    <a class="user" popup="user" href="#"></a>
    <ul class="user_popup genericPopup">
    	<li><%=__('Perfil de usuario')%></li>
    	<li class="close_sesion"><%=__('Cerrar sesión')%></li>
    </ul>
  </div>
