<!--
Copyright 2017 Telefónica Digital España S.L.

This file is part of UrboCore WWW.

UrboCore WWW is free software: you can redistribute it and/or
modify it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

UrboCore WWW is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with UrboCore WWW. If not, see http://www.gnu.org/licenses/.

For those usages not covered by this license please contact with
iot_support at tid dot es
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
  <meta name='description' content=''>
  <meta name='author' content=''>

  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/img/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff ">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <!-- <meta name="theme-color" content="#ffffff "> -->


  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,400italic,300italic,600,600italic,700italic,900,700,900italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  <link rel='stylesheet' href='/css/styles.min.css'>
  <link rel='stylesheet' href='/css/mapbox-gl.css'>

  <script src="/js/jquery-2.1.3.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/underscore-1.8.3.min.js"></script>
  <script src="/js/backbone-min.js"></script>
  <script src="/js/mapbox-gl.js"></script>
  <script src="/js/jed.min.js"></script>
  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  <script src="/js/d3.min.js"></script>
  <script src="/js/nv.d3.min.js"></script>

  <script src="/js/masonry.min.js"></script>
  <script src="/js/moment.min.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
  <![endif]-->
</head>
<body>

  <script>
      $( document ).ready(function() {
          $('body').on('click', '.leaflet-control-attribution', function(event) {
            var link = $(this).find('a');
            $(link).attr('href','https://cartodb.com/');
            $(link).attr('target','_blank');
            $(link)[0].click();
          });
      });
    </script>
  <header></header>
  <nav class="navbar"></nav>

  <main>
    <div class="loading absolute_center">
    	<svg  viewBox="-10 -10 220 220">
    		<path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset="0">
    		</path>
    	</svg>
    </div>
  </main>

  <footer class="footer"></footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70850213-3', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
