<label for="templateSelector" class="col-sm-6 control-label"><%= __('Nombre del conector') %></label>
<div class="col-sm-6">
    <input type="text" id="connector-name" class="form-control"/>    
</div>
<% _.each(blocks, function(b) { 
  if (!b.def.associative) {
%>
  <label for="templateSelector" class="col-sm-6 control-label"><%= b.path.join('.') %></label>
  <div class="col-sm-6">
    <select class="endpoints-selector form-control" name="<%= b.def.name %>" data-path="<%= b.path.join('.') %>" class="form-control">
      <% _.each(b.endpoints, function(e){ %>
        <option value="<%= e.get('id') %>"><%= e.get('name') %></option>
      <% })%>
    </select>
  </div>
<% } else { %>
  <label for="templateSelector" class="col-sm-6 control-label"><%= b.path.join('.') %></label>
  <div class="col-sm-6 col-sm-offset-6">
    <input type="text" class="endpoints-selector-name form-control" name="<%= b.def.name %>" data-path="<%= b.path.join('.') %>"/>
    <select class="endpoints-selector form-control" name="<%= b.def.name %>" data-path="<%= b.path.join('.') %>">
      <% _.each(b.endpoints, function(e){ %>
        <option value="<%= e.get('id') %>"><%= e.get('name') %></option>
      <% })%>
    </select>
  </div>

<% }
}) %>