<!-- Server error -->
<div class="alert error hide"
     id="server-error">
</div>
<!-- Form -->
<form class="admin-form">

  <div class="form-group row">
    <div class="col-sm-4 col-sm-push-3">
      <% if(!parentScope){ %>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox"
                class="form-check-input"
                name="multi"
                value="1">
          <%= __('Multiambito') %>
        </label>
      </div>
      <% } %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 control-label">
      <%= __('Nombre') %>
    </label>
    <div class="col-sm-9">
      <input type="text"
            class="form-control"
            name="name">
      <!-- To show validation errors -->
      <span class="help-block hide"></span>
    </div>
  </div>

  <div class="form-group row noMulti">
    <label class="col-sm-3 control-label">
      <%= __('Latitud / Longitud') %>
    </label>
    <div class="col-sm-4">
      <input type="text"
            class="form-control"
            name="location[]">
    </div>
    <div class="col-sm-5">
      <input type="text"
        class="form-control"
        name="location[]">
      <!-- To show validation errors -->
      <span class="help-block hide"></span>
    </div>
  </div>
  <div class="form-group row noMulti">
    <label class="col-sm-3 control-label">
      <%= __('Zoom') %>
    </label>
    <div class="col-sm-9">
      <input type="text"
        class="form-control"
        name="zoom">
      <!-- To show validation errors -->
      <span class="help-block hide"></span>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <div class="buttons-row">
        <button 
          type="button"
          class="button empty noBorder cancelButton">
          <%= __('Cancelar') %>
        </button>
        <button type="submit"
                class="button">
          <%= __('Crear') %>
        </button>
      </div>
    </div>
  </div>
</form>
