<div id="errorsServer">
</div>
<div class="admin-form col-md-12">
  <form class="form_horizontal">

    <div class="form-group row">
      <div class="col-md-4 col-md-push-3">
        <% if(!parentScope){ %>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input isMultiScope" name="isMultiScope" type="checkbox">
            <%= __('Multiambito') %>
          </label>
        </div>
        <% } %>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputName" class="col-sm-3 control-label"><%= __('Nombre') %></label>
      <input type="text" class="col-sm-9 form-control" id="inputName" name="name" required>
    </div>

    <div class="form-group row noMulti">
      <label for="inputLat" class="col-sm-3 control-label"><%= __('Latitud / Longitud') %></label>
      <input type="number" class="col-sm-4 form-control" id="inputLat" name="lat" step=".01" required>
      <input type="number" class="col-sm-4 col-md-push-1 form-control" id="inputLon" name="lon" step=".01" required>
    </div>
    <div class="form-group row noMulti">
      <label for="inputZoom" class="col-sm-3 control-label"><%= __('Zoom') %></label>
      <input type="number" class="col-sm-9 form-control" id="inputZoom" name="zoom" required>
    </div>
    <!-- <div class="form-group row noMulti">
      <label for="inputDB" class="col-sm-3 control-label"><%= __('Almacén de datos') %></label>
      <input type="text" class="col-sm-9 form-control" id="inputDB" name="db" required>
    </div> -->

    <div class="separator"></div>

    <div class="form-group row">
      <div class="col-sm-12 buttons-row">
        <button class="button empty noBorder exitButton"><%= __('Cancelar') %></button>
        <button type="submit" class="button"><%= __('Crear') %></button>
      </div>
    </div>
  </form>
</div>
