<div id="support-detail">
  <h4 class="category"><%= __('Vertical') %></h4>
  <h2 class="title"><%= __('¿Preguntas frecuentes sobre el conector') %></h2>
  <div class="support-question">
    <h3 class="title"> Sed eu neque sollicitudin, lacinia risus at, ultrices velit.</h3>
    <div class="text">
      <p>
        Aliquam erat volutpat. Sed eu neque sollicitudin, lacinia risus at, ultrices velit. Cras tincidunt lobortis tellus id maximus.
        Nulla tincidunt elit nec tellus finibus cursus. Pellentesque pretium nec nunc non ultrices.
        Nam sit amet lacus non mi consectetur convallis ut eget dolor. Pellentesque nec nulla non nulla sagittis porta in et urna.
      </p>
      <p>
        Aliquam erat volutpat. Sed eu neque sollicitudin, lacinia risus at, ultrices velit. Cras tincidunt lobortis tellus id maximus.
        Nulla tincidunt elit nec tellus finibus cursus. Pellentesque pretium nec nunc non ultrices.
        Nam sit amet lacus non mi consectetur convallis ut eget dolor. Pellentesque nec nulla non nulla sagittis porta in et urna.
      </p>
    </div>
  </div>

  <div class="support-question">
    <h3 class="title"> Sed eu neque sollicitudin, lacinia risus at, ultrices velit.</h3>
    <div class="text">
      <p>
        Aliquam erat volutpat. Sed eu neque sollicitudin, lacinia risus at, ultrices velit. Cras tincidunt lobortis tellus id maximus.
        Nulla tincidunt elit nec tellus finibus cursus. Pellentesque pretium nec nunc non ultrices.
        Nam sit amet lacus non mi consectetur convallis ut eget dolor. Pellentesque nec nulla non nulla sagittis porta in et urna.
      </p>
      <p>
        Aliquam erat volutpat. Sed eu neque sollicitudin, lacinia risus at, ultrices velit. Cras tincidunt lobortis tellus id maximus.
        Nulla tincidunt elit nec tellus finibus cursus. Pellentesque pretium nec nunc non ultrices.
        Nam sit amet lacus non mi consectetur convallis ut eget dolor. Pellentesque nec nulla non nulla sagittis porta in et urna.
      </p>       
    </div>
  </div>
  
</div>