<div id="support-detail">
  <h4 class="category"><%= __('Vertical') %></h4>
  <h2 class="title"><%= __('¿Cómo desplegar un conector?') %></h2>
  <div class="support-box">
    <h3 class="title"><%= __('Pasos a seguir') %></h3>
    <h4 class="subtitle"><%= __('Step 1 Requirements') %></h4>
    <p>
      Docker must be installed (version >= 18.02) <a href="#">https://www.docker.com</a><br/>
      Docker must be installed (version >= 18.02) <a href="#">https://www.docker.com</a>
    </p>
    <hr/>
    
    <h4 class="subtitle"><%= __('Step 2') %></h4>
    <p>
      Maecenas ut orci condimentum, cursus enim non, mollis odio
      <ul>
        <li>
          <span class="index">a</span>
          Morbi tempor maximus massa quis volutpat
        </li>
        <li>
          <span class="index">b</span>
          Morbi tempor maximus massa quis volutpat
        </li>
        <li>
          <span class="index">c</span>
          Morbi tempor maximus massa quis volutpat
        </li>
        <li>
          <span class="index">d</span>
          Morbi tempor maximus massa quis volutpat
        </li>
      </ul>      
    </p>
    <p class="code">
      docker ps
    </p>    
    <hr/>    
  </div>
</div>