<div class="admin">
  <div class="container">
    <!-- Header -->
    <div class="row">
      <div class="col-md-12 header">
        <h1 class="underlined">
          <span class="prev">
            <a href="#back" jslink>
              <img src="/img/SC_flecha_atras.svg">
            </a>
          </span>      
          <span class="text">
            <%= __('Support') %>
          </span>
        </h1>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      <div class="col-md-12">
        <div id="question-content">
          <%= __('The question that you are looking for doesn\'t exist') %>
        </div>
      </div>
    </div>
</div>