// Copyright 2017 Telefónica Digital España S.L.
// 
// This file is part of UrboCore WWW.
// 
// UrboCore WWW is free software: you can redistribute it and/or
// modify it under the terms of the GNU Affero General Public License as
// published by the Free Software Foundation, either version 3 of the
// License, or (at your option) any later version.
// 
// UrboCore WWW is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
// General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with UrboCore WWW. If not, see http://www.gnu.org/licenses/.
// 
// For those usages not covered by this license please contact with
// iot_support at tid dot es

.nvtooltip.xy-tooltip{
	background-color: @blue2;
	padding: 10px 20px 10px 16px;
	border-radius: 2px;
  color: @white;
  max-height: 200px;
  overflow-y: hidden;
  .shadow_std;
  .font();
  opacity: .00001;

	h3 {
    width: 100%;
    padding: 0 0 8px 0;
    border-bottom: 1px solid fade(@greyBluish, 20%);
    border-radius: 0;
		margin-bottom: 5px;
    background-color: transparent;
    color: @grey4;
    .font(semibold);
    font-size: 13px;
    line-height: 12px;
    text-align: left;

    &.withTitle {
      width: auto;
    }

    span {
      text-transform: capitalize;
      display: inline;
    }
	}

	.element{
		display: flex;
    flex-direction: row;
    align-items: center;

		.color{
			flex: 0 0 10px;
			height: 10px;
      border-radius: 50%;
			margin-right: 10px;
		}
		span,a{
			// white-space: nowrap;
			// overflow: hidden;
			// text-overflow: ellipsis;

      &.key {
        color: @greyBluish;
        .font();
        font-size: 14px;
        line-height: 16px;
        margin-left: 5px;
        flex: 1 1 auto;
        padding-right: 5px;
      }

      &.value {
        color: @white;
        .font(semibold);
        font-size: 16px;
        line-height: 16px;
        flex: 0 0;
        white-space: nowrap;
      }

      &.value_extra {
        color: @white;
        .font();
        font-size: 16px;
        line-height: 16px;
        margin-left: 5px;
      }
		}
		a{
			&:hover{
				text-decoration: underline;
			}
		}
	}

	span,a{
		width: 100%;
		display: block;
		color:#fff;
		font-size: 13px;
		line-height: 16px;
	}

	span{
		&.more{
      border-top: 1px solid fade(@greyBluish, 20%);
      padding: 5px 0;
			margin-top: 5px;
		}
	}
}
