<div class="widget chartContent widget_multiVariable_chart  <%= m.className %>">

  <div class="date_tooltip">
    <button></button>
    <div class="date">
      <span><%=App.formatDate(App.ctx.get('start'))%></span>
      <span><%=App.formatDate(App.ctx.get('finish'))%></span>
    </div>
  </div>

  <% if (m.title) { %>
  <div class="widget_header">
    <div class="title">
      <% if (m.selectableVariables.length) { %>
        <a class="popup_widget variableSelector">
          <%
          var selectedTitle = _.find(m.selectableVariables, function (item) {
            return item.id === m.selectedVariable;
          }) %>
          <span><%= selectedTitle.title %></span>
          <div class="varsel">
            <ul>
            <% _.each(m.selectableVariables, function (elem, idx) { %>
              <li data-varid="<%= elem.id %>"
                  class="<%= elem.id === m.selectedVariable ? 'selected': ''%>">
                <%= elem.title %>
              </li>
            <% }); %>
            </ul>
          </div>
        </a>
      <% } %>
      <%= m.title ? m.title : '' %>
    </div>
  </div>
  <% } %>

  <% if (!m.hideStepSelector && s && s.step) { %>
  <div class="selectors">
    <%= __('Periodo') %>
    <a class="popup_widget step" href="#"><%=App.stepToStr(s.step)%>
      <div class="varsel">
          <ul>
            <li data-step="15m" class="<%='15' == s.step ? 'selected':''%>
              <%=!_.contains(stepsAvailable, '15m') ? 'disabled' : ''%>">
              <%=App.stepToStr('15m')%>
            </li>
            <li data-step="1h" class="<%='1h' == s.step ? 'selected':''%>
              <%=!_.contains(stepsAvailable, '1h') ? 'disabled' : ''%>">
              <%=App.stepToStr('1h')%>
            </li>
            <li data-step="2h" class="<%='2h' == s.step ? 'selected':''%>
              <%=!_.contains(stepsAvailable, '2h') ? 'disabled' : ''%>">
              <%=App.stepToStr('2h')%>
            </li>
            <li data-step="4h" class="<%='4h' == s.step ? 'selected':''%>
              <%=!_.contains(stepsAvailable, '4h') ? 'disabled' : ''%>">
              <%=App.stepToStr('4h')%>
            </li>
            <li data-step="1d" class="<%='1d' == s.step ? 'selected':''%>">
              <%=App.stepToStr('1d')%>
            </li>
          </ul>
      </div>
    </a>
  </div>
  <% } %>

  <svg class="chart with-transitions"></svg>
  <div class="var_list"></div>
</div>
