<div class="tags">
  <%_.each(data, function(dato, index) { %>
    <% 
      __color = colors[index];
      if (typeof colors === 'function') { 
        __color = colors(dato.realKey);
      }
    %>
      
  <div class="btnLegend <%= disabledList[dato.realKey] ? 'inactive' : ''%>"
       id="<%=dato.realKey%>"
       tag="<%=index%>"
       style="color:<%=__color%>;border:1px solid <%=__color%>">
    <span
      class="icon circle"
      style="background-color:<%=__color%>;border:1px solid <%=__color%>">
    </span>
    <span class="text first"
          data-key="<%=__(dato.key)%>">
      <%=__(dato.key)%>
    </span>
    <!-- Aggregations (Max, Min, Avg) -->
    <% if (currentAggs && currentAggs[dato.realKey]) { %>
    <a style="<%= disabledList[dato.realKey] ? 'visibility:hidden' : ''%>"
       class="popup_widget agg multivarChart"
       href="#">
      <span class="icon">
        <img class="iconSelected"
             src="<%=App.getPictureAgg(currentAggs[dato.realKey])%>" />
      </span><div class="varsel">
        <ul data-id="<%=dato.realKey%>">
          <%_.each(dato.aggs,function(v){%>
          <li data-agg="<%=v%>" class="<%=v == currentAggs[dato.realKey].toUpperCase() ? 'selected':''%>">
            <span class="icon">
              <img class="iconPopup"
                  src="<%=App.getPictureAgg(v)%>" />
            </span>
            <span class="text last">
              <%=App.getAggStr(v)%>
            </span>
          </li>
          <%})%>
        </ul>
      </div>
    </a>
    <% } %>
  </div>
  <% }); %>
</div>