// Copyright 2017 Telefónica Digital España S.L.
// 
// This file is part of UrboCore WWW.
// 
// UrboCore WWW is free software: you can redistribute it and/or
// modify it under the terms of the GNU Affero General Public License as
// published by the Free Software Foundation, either version 3 of the
// License, or (at your option) any later version.
// 
// UrboCore WWW is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
// General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with UrboCore WWW. If not, see http://www.gnu.org/licenses/.
// 
// For those usages not covered by this license please contact with
// iot_support at tid dot es

#dashboard{
	// position: relative;
	padding-top: 21px;
	// .header{
	// 	position: absolute;
	// 	right: 0;
	// 	z-index: 2;
	// 	span{
	// 		font-size: 18px;
	// 		line-height: 12px;
	// 		color:@turquoise;
	// 		margin-right: 30px;
	// 		line-height: 60px;
	// 		cursor: pointer;
	// 		&.alert{
	// 			color:#ff652d;
	// 			sup{
	// 				border-radius: 100%;
	// 				background-color: #ff652d;
	// 				color: #fff;
	// 				padding: 1px 6px;
	// 				font-size: 12px;
	// 				font-weight: bold;
	// 				left: 2px;
	// 			}
	// 		}
	// 	}
	//}

	.reload{
		background-image: url(/img/SC_refresh.svg);
		width: 32px;
		height: 32px;
		background-size: 18px;
		display: inline-block;
		margin-left: 10px;
		background-color: #fff;
		border-radius: 100%;
		position: relative;
		top: 10px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
    }

    .widgets{
    	margin: 33px 0 256px 0px;
    }

    .widget{
		opacity: 0;

	    &.active{
	    	opacity: 1;
	    }
	  //   .chart{
			// height: 310px;
			// margin-top: 26px;
	  //   }
    }
}

.add-iframe {
	cursor: pointer;
	position: fixed;
	bottom: 55px;
	right: 12px;
	height: 24px;
	// width: 24px;
	width: 108px;	
	overflow: hidden;
	transition: width ease-in 150ms;
	> div {
		position: absolute;
		display: flex;
		align-items: center;
		&:before {
			content: '';
			display: block;
			height: 24px;
			// width: 24px;
			width: 108px;
			background-image: url(/img/SM_anadir.svg);
			background-size: cover;
			background-position: center;
			border-radius: 10px;
			flex: 0 0 24px;
		}
		span {
			color: @blue;
			font-size: 14px;
			font-weight: 500;
			margin-left: 4px;
			white-space: nowrap;
		}
	}
	&:hover {
		width: 108px;
	}
}
