// Copyright 2017 Telefónica Digital España S.L.
// 
// This file is part of UrboCore WWW.
// 
// UrboCore WWW is free software: you can redistribute it and/or
// modify it under the terms of the GNU Affero General Public License as
// published by the Free Software Foundation, either version 3 of the
// License, or (at your option) any later version.
// 
// UrboCore WWW is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
// General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with UrboCore WWW. If not, see http://www.gnu.org/licenses/.
// 
// For those usages not covered by this license please contact with
// iot_support at tid dot es

/* STYLES TO FORMS - NEW */
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: @greyDark;
  background-color: @greyLighter;
  border: 1px solid @greyLight2;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: @accent;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: @grey;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: @grey;
}
.form-control::-webkit-input-placeholder {
  color: @grey;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: @lightgrey;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  opacity: 0.3;
}
textarea.form-control {
  height: auto;
  min-height: 105px;
  resize: vertical;
  font-family: inherit;
}

.form-group {
  margin-bottom: 15px;
}

.control-label {
  color: @greyDark;
  font-size: 14px;
  margin-top: 5px;
  &[disabled=disabled] {
    opacity: 0.3;
  }
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: @grey;
  font-size: 12px;
  &.has-error {
    color: @errorColor;
  }
}
/* STYLES TO FORMS - NEW */

.admin-form {
  .separator {
    border-bottom: 1px solid @grey2;
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    .form-horizontal .control-label {
      text-align: right;
      margin-bottom: 0;
      padding-top: 7px;
    }
  }

  .form-check {
    padding:4px 0 9px;
  }
  .form-check-label {
    font-size:14px;
    color:@greyDark;
    .noselect;

    & + .form-check-label {
      margin-left: 16px;
    }
  }

  textarea.exportTextarea {
    width: 100%;
    background-color:@greyLighter;
    border: 1px solid @greyLight2;
    padding: 0 5px;
    color:@greyDark;

    &[disabled=disabled] {
      opacity: .3;
    }

    &.active {
      height: 300px;
    }

  }
  input[type="checkbox"],
  input[type="radio"] {
    width:20px;
    height:16px;
  }
  .button.noBorder {
    border:0;
  }
  .onoffswitch {
    padding-top: 2px;
  }
  .alignRight {
    text-align:right;
  }
  .deleteButton button {
    border:1px solid @errorColor;
    color:@errorColor;
  }

  .exportIframe {
    max-height: 0px;
    height: 0px;
    opacity: 0;
    transition: opacity @transitionTimeFast @transitionFuncStandard @transitionTimeFast, max-height @transitionTimeFast @transitionFuncStandard;

    &.active {
      max-height: 300px;
      height: 300px;
      opacity: 1;
    }
  }

  .note {
    font-size: 12px;
    line-height: 12px;
    color: @greyBluish;
  }
}
  
#user_form, #credential_form, #connector_form {
  input.form-control, select.form-control {
    width: 100%;
  }
}

#connector_form {
  #connector-form {
    label + div {
      padding-bottom: 10px;
    }
  }
}