::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #008c8e;
  border: 2px solid transparent;
  border-radius: 10px;

  &:hover {
    background-color: @turquoise;
  }
}
