<%
var metaData = App.Utils.toDeepJSON(App.mv().getVariable(m.var_id))
if (withIndicator) {
  var indicatorColl = App.Static.Collection[App.Utils.capitalizeFirstLetter(category)].Indicator;
  var metaDataIndicator = App.Utils.toDeepJSON(App.mv().getVariable(m.var_id + '_indicator'));
}
%>
<div class='widget'>
  <div class="botons">
    <span class="tooltipIcon realTime">
      <div class="text"><span><%= __('Ahora') %><span></span></span></div>
    </span>
  </div>
  <h4 class="mb20"><%= __(metaData.name) %></h4>

  <div class='co_chart'>
    <div class='chart'></div>
    <div class='co_value'>
      <p class='value big'><%= m.var_value == 'null' ? App.nbf(null) : App.nbf(m.var_value) %><span><%= metaData.units%></span></p>
    </div>
    <% if (withIndicator) { %>
      <div class='co_status'>
        <p class='value'>
          <span class='<%= indicatorColl.get(indicator.var_value || -1).get("cid") %>'></span>
          <label>
            <%= __('Estado') %>:
          </label>
          <%= indicatorColl.get(indicator.var_value || -1).get("name") %>
        </p>
      </div>
    <% } %>
  </div>
</div>
