<%
var metaData = App.Utils.toDeepJSON(App.mv().getVariable(m.var_id))
%>
<div class='widget'>
  <div class="botons">
    <span class="tooltipIcon realTime">
      <div class="text"><span><%= __('Ahora') %><span></span></span></div>
    </span>
  </div>
  <h4 class="mb20"><%= __(metaData.name) %></h4>
  <!-- <h6 class='regular'>Moderada</h6> -->

  <div class='co_chart'>
    <div class='chart'></div>
    <div class='co_value'>
      <p class='value big'><%= m.var_value == 'null' ? App.nbf(null) : App.nbf(m.var_value) %><span><%= metaData.units%></span></p>
      <!-- <p class='time'><%=__('Hace')%> <%= App.nextTimeMinutes(m.timeinstant) %> min</p> -->
    </div>
  </div>
</div>
