<div id="user_list">
  <div class="container box list">
    <div class="row">
      <div class="col-md-10 header"><%= __('Credenciales') %></div>
      <div class="col-md-2">
        <button type="submit" class="button empty newCredential">
          <img src="/img/SC_ic_usuario-nuevo.svg">
          <span><%= __('Crear credencial') %></span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 content">
        <div class="row headerList">
            <div class="col-md-3"><%= __('Nombre') %></div>
            <div class="col-md-2"><%= __('Estado') %></div>
            <div class="col-md-3"><%= __('Fecha de creación') %></div>
            <div class="col-md-3"><%= __('Fecha de expiración') %></div>
        </div>
        <% _.each(credentials,function(s){ %>
          <div class="row userElementList" id="<%=s.id%>">
            <div class="col-md-3"><%= s.name %></div>
            <div class="col-md-2"><%= s.active?__('Activa'):__('Desactivada') %></div>
            <div class="col-md-3"><%= moment(s.created_at, 's').format('DD/MM/YYYY') %></div>
            <div class="col-md-3"><%= s.expires?moment(s.expires, 's').format('DD/MM/YYYY'):'-' %></div>
            <div class='col-md-1 containerEditAndDelete' id="<%=s.id%>">
            <span class="editCredentialElementList"><%= __('Editar') %></span>
          </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
