<div id="errorsServer">
</div>
<div id="credential_form" class="credential_form admin-form col-md-12">
	<form class="form_horizontal">
		<div class="form-group row">
			<label for="inputName" class="col-sm-3 control-label"><%= __('Nombre') %></label>
	    <div class="col-sm-9">
	      <input type="text" class="form-control" id="inputName" name="name" value="<%=name%>">
	    </div>
		</div>
		<div class="form-group row">
			<label for="inputDescription" class="col-sm-3 control-label"><%= __('Descripción') %></label>
			<div class="col-sm-9">
				<textarea class="form-control exportTextarea" id="inputDescription" name="description" value="<%=description%>"><%=description%></textarea>
			</div>
		</div>
		<div class="form-group row">
			<label for="inputAuthName" class="col-sm-3 control-label"><%= __('Auth Name') %></label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="inputAuthName" name="auth_name" value="<%=auth_name%>"/>
			</div>
		</div>
		<div class="form-group row">
				<label for="inputKey" class="col-sm-3 control-label"><%= __('Key') %></label>
				<div class="col-sm-9">
					<input type="password" placeholder="*******" class="form-control" id="inputKey" name="key" value="<%=key%>"/>
				</div>
			</div>
		<div class="form-group row">
			<label for="inputExpires" class="col-sm-3 control-label"><%= __('F. Expiración') %></label>
			<div class="col-sm-9">
				<input type="date" class="form-control" id="inputExpires" name="expires" value="<%=moment(expires,'s').format('YYYY-MM-DD')%>">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-3 col-md-offset-9 italic">
				<div class="row">
					<div class="col-md-8 control-label alignRight"><%= __('¿Activo?') %></div>
					<div class="onoffswitch col-md-4">
						<input type="checkbox" name="active" class="active" id="onoffswitch1" <%= active?'checked':'' %>>
						<label class="label" for="onoffswitch1">
							<span class="inner"></span>
							<span class="switch"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-12 buttons-row">
				<div class="deleteButton left-buttons">
					<button class="button empty"><%= __('Eliminar credencial') %></button>
				</div>
				<button class="button empty noBorder exitButton"><%= __('Cancelar') %></button>
				<button type="submit" class="button"></button>
			</div>
		</div>
	</form>
</div>
